

body, html { font-size: 100%; padding: 0; margin: 0; height: 100%; width: 100%;}
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media (max-width: 320px) {

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #f2ede3;
   background: #fb2b69; /* Old browsers */
		background: -moz-linear-gradient(top, #fb2b69 0%, #ff5b37 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb2b69), color-stop(100%,#ff5b37)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #fb2b69 0%,#ff5b37 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #fb2b69 0%,#ff5b37 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #fb2b69 0%,#ff5b37 100%); /* IE10+ */
		background: linear-gradient(to bottom, #fb2b69 0%,#ff5b37 100%); /* W3C */

    font-size: 0.9em;
    font-weight: 300;
}

/*a {
	color: #f0f0f0;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 80%;
}*/

a:hover {
	color: #fff;
}

.container { height: 100%; width: 100%;}

.bl-main {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/*/// H1 H2 H3*/

h1 {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1.3em;
	font-weight: 100;
	text-align: center;
}

.bl-box h2 {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	text-align: center;
	margin: 0;
	padding: 20px 0px;
	font-size: 1.2em;
	letter-spacing: 1px;
	font-weight: 100;
	text-transform: uppercase;
}

.bl-box h2 span, h3 span{
	font-weight: 700;
}



h3 {
	display: block;;
	background-color: #007aff;
	border-radius: 5px 5px 0px 0px;
	font-size: 1em;
	margin: 0px;
	padding: 12px 0px 0px 0px;
	height: 50px;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 200;
}

/*.bl-content, 
div.bl-panel-items > div > div {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 60px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	padding: 0 20px;
	overflow: hidden;
	overflow-y: auto;
}*/

/* Panel Items */

div.bl-panel-items,
div.bl-panel-items > div,
div.content_connexion
 {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

div.bl-panel-items > div > div,
div.content_connexion {
	width: 83%;
	margin: 0 auto;
	opacity: 1;

	top: 32%;
	pointer-events: auto;
	border-radius: 5px;
	padding: 5px;
}

/*div.bl-panel-items > div > div h3 {
	font-size: 2.4em;
	font-weight: 300;
	margin: 0 0 20px 0;
}*/

div.bl-panel-items > div > div p {
	font-size: 1.3em;
}

div.bl-panel-items > div > div img {
	float: left;
	margin: 0 20px 20px 0;
	max-width: 100%;
}

div.bl-panel-items {
	left: 100%;
	z-index: 9999;
}

div.bl-panel-items > div {
	background: #fb2b69; /* Old browsers */
		background: -moz-linear-gradient(top, #fb2b69 0%, #ff5b37 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb2b69), color-stop(100%,#ff5b37)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #fb2b69 0%,#ff5b37 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #fb2b69 0%,#ff5b37 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #fb2b69 0%,#ff5b37 100%); /* IE10+ */
		background: linear-gradient(to bottom, #fb2b69 0%,#ff5b37 100%); /* W3C */

	z-index: 0;
	opacity: 0;
	-webkit-transform: translateX(0);
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-moz-transform: translateX(0);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	transform: translateX(0);
	transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-ms-transform: translateX(0);
}

div.bl-panel-items nav {
	position: absolute;
	z-index: 9999;
	width: 216px;
	left: 50%;
	top: 0px;
	margin-left: -108px;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out 0.5s;
	-moz-transition: opacity 0.2s ease-in-out 0.5s;
	transition: opacity 0.2s ease-in-out 0.5s;
}

div.bl-panel-items.bl-panel-items-show nav span {
	float: left;
	margin: 5px;
}

div.bl-panel-items nav span.bl-next-work {
	font-weight: 700;
	letter-spacing: 2px;
	display: block;
	text-transform: uppercase;
	line-height: 2em;
	cursor: pointer;
	margin-right: 2em;
}

div.bl-panel-items.bl-panel-items-show nav {
	opacity: 1;
	top: -70px;
}

div.bl-panel-items > div.bl-show-work {
	z-index: 1000;
	opacity: 1;
	-webkit-transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-moz-transform: translateX(-100%);
	-moz-transition: -moz-transform 0.5s ease-in-out;
	transform: translateX(-100%);
	transition: transform 0.5s ease-in-out;
	-ms-transform: translateX(-100%);
}

div.bl-panel-items > div.bl-hide-current-work {
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-webkit-transform: translateX(-100%) scale(0.5);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-moz-transform: translateX(-100%) scale(0.5);
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	transform: translateX(-100%) scale(0.5);
	-ms-transform: translateX(-100%) scale(0.5);
	z-index: 0;
}

.bl-box {
	position: absolute;
	width: 150px;
	height: 150px;
	cursor: pointer;
	opacity: 1;
	left: 25%;
	top: 25%;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl-box img:active {
	 -webkit-transform: scale(0.95,0.95);
    -moz-transform: scale(0.95,0.95);
    -ms-transform: scale(0.95,0.95);
    -o-transform: scale(0.95,0.95);
    transform: scale(0.95,0.95);
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}



}

////// bl-work-section /////

h2 .bl-icon .bl-icon-works {
	display: none;
}

img	{
	width: 150px;
	height: 150px;
	margin: 0 auto;
}

.quest_form{
	background-color: #f9807d;
	top: 50%;
	position: relative;
}  



/*// FORM ////////////////////////////*/

form.owe {
	background-color: #fff;
	margin: 0px;
	padding: 15px 15px 20px 15px;
	border-radius: 0px 0px 5px 5px;
	margin-bottom: 7px;
}

div.content_connexion {
	left: 8%;
}

input[type=text],
input[type=password] {
	width: 100%;
	border: none;
	background-color: #f7f7f7;
	font-weight: 100;
	color: #c9c9c9;
	padding: 10px;
	margin-bottom: 29px;
	border-radius: 3px;
}



input[type=text]:focus {
color: 3f3f3f;
border-style: none;
text-transform: uppercase;}

input[type=submit] {
	width: 60%;
	left: 50%;
	margin-left: 20%;
	text-align: center;
	border: #007aff 3px solid;
	background-color: #fff;
	padding: 5px;
	color:#007aff ;
	border-radius: 2px;
	font-size: 1.1em;
	cursor: pointer;
}

form.connexion input[type=submit] {
	width: 100%;
	border: 5px solid #f9807d;
	border-radius: 4px;
	color: #fff;
	background-color: #007aff;
	font-weight: 100;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	margin-left: 0px;
}


input[type=submit]:active {
		 -webkit-transform: scale(0.95,0.95);
    -moz-transform: scale(0.95,0.95);
    -ms-transform: scale(0.95,0.95);
    -o-transform: scale(0.95,0.95);
    transform: scale(0.95,0.95);
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    outline: 0!none;
}

a.sign {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #fff;
	background-color: ;
	font-weight: 200;
	text-transform: none;
	text-decoration: none;
	font-weight: 1.5em;
	text-align: center;
	border-bottom: 1px solid #fff;

}

.steps {
	text-align: right;
	padding-right: 10px;
}

.back img {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 7%;
	left: 7%;
}
